* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

/* html,
body {
    width: 100%;
    height: 100vh;
} */

/* Section header */

.header {
    width: 100%;
    height: 100vh;
}

.top-nav {
    width: 100%;
    height: 10vh;
    background: #314100;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 100px;
}

.top-nav .num {
    padding: 10px;
    font-size: 21px;
    color: #ffd54d;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

.header-body {
    width: 100%;
    height: 90vh;
    background-color: #fed53c;
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.5% 5%;
}

.line {
    line-height: 2px;
}

.line-1 {
    height: 2px;
    width: 38px;
    background: #314100;
    display: inline-block;
}

.line-2 {
    height: 2px;
    width: 38px;
    background: #314100;
    display: inline-block;
}

.line-3 {
    height: 2px;
    width: 38px;
    background: #314100;
    display: inline-block;
}

.menu-options {
    margin-left: 25px;
    text-align: center;
}

.menu-options>ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu-options>ul>li a {
    font-size: 21px;
    color: #314100;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 10px;
    text-decoration: none;
    cursor: pointer;
}

nav span {
    margin-left: 60px;
}

nav>span>img {
    height: 80px;
}

.social-icons {
    margin-left: 22%;
    padding: 0 10px;
}

.social-icons>ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.social-icons>ul>li>img {
    height: 38px;
    font-size: 21px;
    padding: 0 10px;
    transform: #314100;
}

.two-parts {
    display: flex;
}

.two-parts .part1 {
    width: 45%;
    height: 500px;
    padding: 20px 60px;
    display: flex;
    align-items: center;
}

.two-parts .part1 .vertical-text {
    position: absolute;
    writing-mode: vertical-lr;
    opacity: 0.702;
    font-size: 160px;
    color: #333d01;
    font-weight: 300;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    transform: rotate(180deg);
    margin-left: 4%;
}

.two-parts .part1>span {
    z-index: 9;
}

.two-parts .part1>span>img {
    height: 500px;
    margin-top: 10%;
    margin-left: 26%;

}

.two-parts .part2 {
    width: 55%;
    height: 500px;
    padding: 5% 2%;
}

.two-parts .part2 .title {
    font-size: 81px;
    color: #333d01;
    font-weight: 300;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
}

.two-parts .part2 .subtitle {
    font-size: 52px;
    color: #333d01;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
}

.two-parts .part2 .body-text {
    font-size: 24px;
    color: #333d01;
    font-weight: 400;
    font-family: "Ubuntu", sans-serif;
    margin-top: 10px;
}

.btn-dis {
    margin-top: 40px;
}

.btn-dis .nxt-btn {
    font-size: 21px;
    color: #333d01;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    padding: 6px 50px;
    background: transparent;
    border-radius: 50px;
    border: 3px solid #333d01;
    text-transform: uppercase;
}

.btn-dis>span {
    margin-left: 20px;
    font-size: 35px;
    color: #333d01;
    font-weight: 400;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.bottom-part {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 60px;
}

.bottom-part .botton-para {
    font-size: 21px;
    color: #333d01;
    font-weight: 400;
    font-family: "Ubuntu", sans-serif;
    padding: 10px 35px;
}

.bottom-part>span>i {
    font-size: 40px;
    padding: 0 25px;
    color: #333d01;
}

/* section 2 CSS */

#offer {
    width: 100%;
    height: 100vh;
    background: #FFDF6C;
}

.grp2-part1 {
    width: 55%;
    height: 90vh;
    padding: 4% 5%;
}

.grp2-part1 .offer-txt {
    font-size: 69px;
    color: #333d01;
    font-weight: 300;
    text-transform: uppercase;
}

.grp2-part1 .burger {
    font-size: 112px;
    color: #333d01;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.grp2-part1 .para {
    font-size: 25px;
    color: #333d01;
    font-weight: 400;
    margin-bottom: 6%;
}

.side-icons>span>i {
    color: #333d01;
    font-size: 50px;
    padding: 0 20px;
    margin-bottom: 6%;
}

.grp2-part1 .promo-txt {
    font-size: 53px;
    font-weight: 400;
    color: #333d01;
    margin-bottom: 15px;
}

.grp2-part1 .bottom-para {
    font-size: 25px;
    color: #333d01;
    font-weight: 400;

}

.group2-parts {
    display: flex;
    padding: 40px 60px;
}

.grp2-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    padding: 35px 20px;
}

.grp2-part2>h3 {
    position: absolute;
    opacity: 0.702;
    font-size: 174px;
    color: #333d01;
    font-weight: 300;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-right: 32%;
}

.grp2-part2>img {
    height: 500px;
    border-radius: 50%;
    z-index: 9;
}

/* section 3 CSS */

#menu {
    height: 100vh;
    width: 100%;
    background: #ffd54d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group3-parts {
    width: 80%;
    height: 85vh;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.group3-parts .part1 {
    width: 20%;
    height: 85vh;
}

.group3-parts .part1>h3 {
    position: absolute;
    font-size: 130px;
    opacity: 0.702;
    color: #333d01;
    font-weight: 300;
    text-transform: uppercase;
    transform: rotate(-90deg);
    margin-top: 29%;
    margin-left: 3%;
}

.group3-parts .part2 {
    width: 50%;
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.group3-parts .part2 .title {
    font-size: 64px;
    color: #333d01;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 8%;
}

.group3-parts .part2 .subtitle {
    font-size: 119px;
    color: #333d01;
    font-weight: 700;
    text-transform: uppercase;
}

.group3-parts .part2>span>img {
    height: 400px;
}

.group3-parts .part3 {
    width: 25%;
    height: 85vh;
}

.group3-parts .part3>h3 {
    position: relative;
    font-size: 130px;
    opacity: 0.702;
    color: #333d01;
    font-weight: 300;
    text-transform: uppercase;
    transform: rotate(-90deg);
    margin-top: 90%;
    margin-right: 60%;
}

.bottom-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-options>p {
    font-size: 41px;
    color: #333d01;
    font-weight: 300;
    padding: 0 10px;
}

.bottom-options>span>i {
    font-size: 50px;
    color: #333d01;
    padding: 0 30px;
}

/* Group 4 css */
#promotion {
    width: 100%;
    height: 100vh;
    background: #ffd54d;

}

#promotion .group4-parts {
    display: flex;
}

#promotion .group4-parts .part1 {
    width: 45%;
    height: 100vh;
    flex-direction: column;
    padding: 5% 8%;
}

#promotion .group4-parts .part1>span .im1 {
    height: 250px;
}

.group4-parts .part1>span .im2 {
    margin-top: 5px;
    border: transparent;
    height: 350px;
}

#promotion .group4-parts .part2 {
    width: 55%;
    height: 100vh;
    padding-top: 5%;
    padding-right: 10%;
}

.group4-parts .part2 .title {
    font-size: 62px;
    color: #333d01;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
}

.group4-parts .part2 .subtitle {
    font-size: 120px;
    text-align: right;
    text-transform: uppercase;
    color: #333d01;
}

.group4-parts .part2 .para {
    font-size: 25px;
    color: #333d01;
    font-weight: 400;
    text-align: right;
    margin-bottom: 20px;
}

.group4-parts .part2 .offer {
    font-size: 80px;
    color: #333d01;
    font-weight: 500;
    text-align: right;
    margin-bottom: 40px;
}

.group4-parts .part2 .next-btn {
    font-size: 28px;
    color: #ffd54d;
    background: #333d01;
    font-weight: 500;
    padding: 5px 50px;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    margin-left: 75%;
}

/* group 5 */
#service {
    width: 100%;
    height: 100vh;
    background-color: #ffd54d;
}

.group5-parts {
    display: flex;
    height: 85vh;
}

.group5-parts .part1 {
    width: 45%;
    height: 85vh;
    padding-top: 10%;
    padding-left: 10%;
}

.group5-parts .part1 .title {
    font-size: 110px;
    color: #333d01;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.group5-parts .part1 .subtitle {
    font-size: 50px;
    color: #333d01;
    font-weight: 300;
    text-transform: uppercase;
}

.group5-parts .part1 .sale {
    font-size: 58px;
    color: #333d01;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.group5-parts .part1 .next-btn {
    border: 3px solid #333d01;
    border-radius: 50px;
    padding: 5px 50px;
    color: #333d01;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
}

.group5-parts .part1 .para {
    font-size: 25px;
    color: #333d01;
    font-weight: 400;
    margin-top: 60px;
}

.group5-parts .part2 {
    height: 85vh;
    width: 55%;
}

.group5-parts .part2>h2 {
    padding-top: 40px;
    position: absolute;
    writing-mode: vertical-lr;
    font-size: 163px;
    color: #333d01;
    font-weight: 300;
    opacity: 0.702;
    text-transform: uppercase;
    transform: translate(180deg);
}

.group5-parts .part2>span>img {
    margin-top: 12%;
    padding-left: 70px;
    height: 500px;
    z-index: 99;
}
.group5-parts .part2 .imgss{
    position: absolute;
    margin-right: 50px;
    margin-top: 10%;
}
.group5-parts .part2 .imgss >img{
    height: 100px;
}
#service .dots {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#service .dots>span {
    margin: 0 8px;
}

#service .dots>span:nth-child(3) {
    background: #333d01;
}

#service .dots .dot {
    height: 25px;
    width: 25px;
    border: 3px solid #333d01;
    border-radius: 50%;
    background-color: transparent;
}

/* group 6 */
#offer-two {
    width: 100%;
    height: 100vh;
    background-color: #FFDF6C;

}

#offer-two .bottom-part {
    width: 100%;
    height: 30vh;
    flex-direction: column;
}

#offer-two .bottom-part .para {
    font-size: 21px;
    color: #333d01;
    font-weight: 400;
    text-align: right;
    /* margin-top: 8px; */
    padding-right: 6%;
}

.bottom-part .next-btn {
    border: none;
    border-radius: 50px;
    padding: 5px 50px;
    color: #ffd54d;
    background-color: #333d01;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 100%;
}

.group6-parts {
    display: flex;
    width: 100%;
    height: 70vh;
}

.group6-parts .part1 {
    width: 45%;
    height: 70vh;
    display: flex;
    align-items: center;
}

.group6-parts .part1>img {
    height: 400px;
    z-index: 9;
    margin-left: 10%;
}

.group6-parts .part1>h2 {
    position: absolute;
    writing-mode: vertical-lr;
    font-size: 166px;
    color: #333d01;
    font-weight: 300;
    opacity: 0.702;
    text-transform: uppercase;
    transform: rotate(360deg);
    margin-left: 25%;
}

.group6-parts .part2 {
    width: 55%;
    height: 70vh;
    padding-top: 8%;
    padding-right: 10%;
}

.group6-parts .part2 .title {
    font-size: 100px;
    color: #333d01;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
}

.group6-parts .part2 .subtitle {
    font-size: 68px;
    color: #333d01;
    font-weight: 400;
    text-align: right;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.group6-parts .part2 .offer {
    font-size: 87px;
    color: #333d01;
    font-weight: 500;
    text-align: right;
}

/* group 7 */
#offer-three {
    width: 100%;
    height: 100vh;
    background-color: #ffd54d;
}

.group7-parts .s-part1 {
    width: 100%;
    height: 43vh;
    padding: 30px 0;
}

.group7-parts .s-part1>h1 {
    font-size: 90px;
    color: #333d01;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.group7-parts .s-part1>h2 {
    font-size: 50px;
    color: #333d01;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.group7-parts .s-part1>p {
    font-size: 22px;
    color: #333d01;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.group7-parts>span {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.group7-parts>span>i {
    font-size: 50px;
    color: #333d01;
    padding: 0 60px;
}

.group7-parts .s-part2 {
    width: 100%;
    height: 50.5vh;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.group7-parts .s-part2 .img {
    height: 130px;
}

.group7-parts .s-part2 .img2 {
    height: 380px;
    padding: 0 150px;
}

.group7-parts .s-part2>h1 {
    position: absolute;
    writing-mode: vertical-lr;
    font-size: 120px;
    color: #333d01;
    font-weight: 300;
    opacity: 0.702;
    text-transform: uppercase;
    transform: rotate(-180deg);
    margin-right: 15%;
}

/* group 8 */
#contact {
    width: 100%;
    height: 100vh;
    background-color: #FFDF6C;
}

.group8-parts {
    display: flex;
}

.group8-parts .part1 {
    width: 70%;
    height: 100vh;

    flex-direction: column;
}

.group8-parts .content {
    width: 100%;
    height: 45vh;
    padding-top: 60px;
    padding-left: 30px;
    margin-left: 10%;
}

.group8-parts .imgs {
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.group8-parts .imgs .imgg {
    height: 340px;
    padding-bottom: 3%;
    margin-right: 2%;
}

.group8-parts .imgs .imgg:nth-child(2) {
    height: 400px;
}

.group8-parts .part1 .content>h1 {
    font-size: 75px;
    color: #333d01;
    font-weight: 300;
    text-transform: uppercase;
}

.group8-parts .part1 .content>h2 {
    font-size: 62px;
    color: #333d01;
    font-weight: 500;
    text-transform: uppercase;
}

.group8-parts .part1 .content>h3 {
    font-size: 68px;
    color: #333d01;
    font-weight: 700;
}

.group8-parts .part2 {
    width: 30%;
    height: 100vh;
}

.group8-parts .part2>h1 {
    margin-top: 10%;
    padding: 90px 70px;
    position: relative;
    writing-mode: vertical-lr;
    font-size: 127px;
    color: #333d01;
    font-weight: 300;
    opacity: 0.702;
    text-transform: uppercase;
    transform: rotate(-180deg);
}

.group8-parts .part2 .next-btn {
    border: 3px solid #333d01;
    padding: 5px 50px;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50px;
    background: transparent;
    margin-left: 50px;
    color: #333d01;
}

/* group 9 */
#about {
    width: 100%;
    height: 100vh;
    background-color: #ffd54d;
}

.nine-part1 {
    height: 58vh;
    display: flex;
}

.nine-part1 .div1 {
    padding-top: 8%;
    padding-left: 10%;
}

.nine-part1 .div1>span>img {
    height: 80px;
    margin-bottom: 25px;
}

.nine-part1 .div1>h3 {
    font-size: 24px;
    color: #333d01;
    font-weight: 500;
    padding: 15px 0;
}

.nine-part1 .div1>p {
    font-size: 24px;
    color: #333d01;
    font-weight: 400;
}

.nine-part1 .div2 {
    padding: 15% 10%;
}

.nine-part1 .div2>h3 {
    font-size: 24px;
    color: #333d01;
    font-weight: 500;
    padding: 15px 0;
}

.nine-part1 .div2>p {
    font-size: 24px;
    color: #333d01;
    font-weight: 400;
}

.nine-part2 {
    height: 22vh;
    align-items: center;
}

.nine-part2>p {
    font-size: 24px;
    color: #333d01;
    font-weight: 400;
    padding: 4% 10%;
}

.nine-part3 {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.nine-part3>p {
    font-size: 24px;
    color: #333d01;
    font-weight: 400;
}

.nine-part3 .icons>ul {
    display: flex;
    align-items: center;

}

.nine-part3 .icons>ul>li {
    list-style: none;
    padding: 0px 8px;
}

.nine-part3 .icons>ul>li>img {
    height: 30px;
}

.nine-part4 {
    height: 8vh;
    background: #314100;
}

@media only screen and (max-width:770px){

}